body {
    background-color: #F1EED7;
}

.btn-top {
    font-size: 10px;
    border-radius: 5px;
    margin: 5px;
    color: black;
}

.title {
    font-size: 12px;
    color: blue;
}

.participant {
    background-color: #F2B751;
    font-size: 12px;
}
th {
    background-color: #B6B4B0;
    font-size: 12px;
}
td {
    font-size: 12px;
}
.note {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}
.active-participant {
    background-color: yellow;
    font-size: 12px;
}
